<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="XE" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.244)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=dbuser;Password=dbuser;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="Skin" value="Office 2010 Silver" />
    <add key="UserID" value="admin" />
    <add key="XE_Pwd" value="EAAAAPvETf0JaOo9+lBzRebBPzNqJNm9jne5H7McL+7srYdZ" />
    <add key="LISDB_Pwd" value="EAAAAPvETf0JaOo9+lBzRebBPzNqJNm9jne5H7McL+7srYdZ" />
    <add key="RISDB_Pwd" value="EAAAAPvETf0JaOo9+lBzRebBPzNqJNm9jne5H7McL+7srYdZ" />
    <add key="ShowCommTestToolsLink"  value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="hb" value="hb" />
    <add key="hct" value="hct" />
    <add key="wbc" value="wbc" />
    <add key="plt" value="plt" />
    <add key="nag" value="urine_common" />
    <add key="d-njyqt" value="urine_other" />
    <add key="n_cz" value="urinary_sediment" />
    <add key="urine_na" value="urine_na" />
    <add key="urine_pass" value="urine_pass" />
    <add key="manure" value="manure" />
    <add key="resulttiem" value="hb" />
    <add key="ccr" value="ccr" />
    <add key="bun" value="bun" />
    <add key="p+" value="p" />
    <add key="ca++" value="ca" />
    <add key="na+" value="na" />
    <add key="k+" value="k" />
    <add key="scr" value="scr" />
    <add key="ua" value="ua" />
    <add key="cl" value="cl" />
    <add key="d-akp" value="akp" />
    <add key="tco2" value="t_co" />
    <add key="d-fbg" value="blood_sugar_pbg" />
    <add key="blood_sugar_2hpg" value="blood_sugar_2hpg" />
    <add key="d-hba1c" value="blood_sugar_hba1" />
    <add key="tb" value="liver_bilirubin" />
    <add key="d-d-bil" value="liver_direct" />
    <add key="alt" value="liver_alt" />
    <add key="alb" value="liver_alb" />
    <add key="ggt" value="liver_y_gt" />
    <add key="a/g" value="liver_a_g" />
    <add key="tch" value="lipids_chol" />
    <add key="hdl-c" value="lipids_hdl_ch" />
    <add key="ldl-c" value="lipids_ldl_ch" />
    <add key="pth" value="lipids_1pht" />
    <add key="crp" value="lipids_crp" />
    <add key="lipids_protein" value="lipids_protein" />
    <add key="iron_protein" value="iron_protein" />
    <add key="iron_saturation" value="iron_saturation" />
    <add key="trf" value="iron_ironprotein" />
    <add key="d-fe" value="iron_si" />
    <add key="tibc" value="iron_combin" />
    <add key="hcv" value="hepatitis_c" />
    <add key="hepatitis_other" value="hepatitis_other" />
    <add key="hbsag" value="hepatitis_hbsag" />
    <add key="hbsab" value="hepatitis_hbsab" />
    <add key="hbcag" value="hepatitis_hbcag" />
    <add key="hbeag" value="hepatitis_bgcab" />
    <add key="hbeab" value="hepatitis_hbeab" />
    <add key="ph" value="aki_ph" />
    <add key="po2" value="aki_po" />
    <add key="pco2" value="aki_pco" />
    <add key="resulttime" value="blood" />
    <add key="常规心电图检查(十二通道)" value="ecg" />
    <add key="心脏彩超声检查(东院)" value="chest_x_ray" />
    <add key="双肾血管彩超检查" value="cardiothoracic_ratio" />
    <add key="胸片" value="echocardiography" />
    <add key="心胸比" value="b_kidneys" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.3.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualBasic" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICommonService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/CommonServiceLibrary/CommonService/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommonService"
        contract="CommServiceReference.ICommonService" name="NetTcpBinding_ICommonService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>